ul.ul-group {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ul-group li {
	cursor: pointer;
	font-size: 15px;
}
ul.ul-group li:hover {
	background-color: #f4f4f4;
}

ul.ul-group li.active {
	background-color: #f4f4f4;
}

ul.ul-category {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ul-category li {
	cursor: pointer;
	font-size: 15px;
}
ul.ul-category li:hover {
	background-color: #f4f4f4;
}

ul.ul-category li.active {
	background-color: #f4f4f4;
}


ul.ul-sub-category {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ul-sub-category li {
	cursor: pointer;
	font-size: 15px;
}
ul.ul-sub-category li:hover {
	background-color: #f4f4f4;
}

ul.ul-sub-category li.active {
	background-color: #f4f4f4;
}

.error-summary {
	color: red;
}


ul.ul-search {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.ul-search li {
	cursor: pointer;
	font-size: 15px;
}
ul.ul-search li:hover {
	background-color: #f4f4f4;
}

ul.ul-search li.active {
	background-color: #f4f4f4;
}

